AN00020_GettingStartedWithSeggerEvalsoftware.pdf
BSP (copy)/
BSP/ST/STM32F769_STM32F769I_Discovery/Output/
Getting_started_with_SEGGER_Eval_Software.mp4
SEGGER_Leaflet.pdf
SEGGER_Overview.pdf
SEGGER_Product_Brochure.pdf
Thesis (copy).docx
*.emSession
*BACKUP
